@charset"UTF-8";
#p1, #p2, #p3 {
	width: 17em;
	text-align: justify;
	padding-right: 3em;
}

#p1 {
	background-color: red;
	position: relative;
	z-index: 3;
}

#p2 {
	background-color: blue;
	position: relative;
	/*Pantalla 1080p margin-top:  -7%;*/
	/*Pantalla Clase CREO*/ margin-top: -9.3%;
	margin-left: 5em;
	z-index: 2;
}

#p3 {
	background-color: yellow;
	position: relative;
	/*Pantalla 1080p margin-top: -6.3%;*/
	/*Pantalla Clase CREO*/ margin-top: -8.6%;
	margin-left: 10em;
	z-index: 1;

}

#p4 {
	background-color: purple;
}

#p5 {
	background-color: green;
}

#p4, #p5 {
	visibility: hidden;
}
