@charset"UTF-8";

body {
	background-color: #FED;
	width: 900px;
	color: #9B8A30;
	margin: 0;
}

#cabecera img{
	position: absolute;
}

#cabecera > h1 {
	background-color: #F7F3C6;
	font-style: italic;
	height: 120px;
	text-align: center;
	font-size: 55px;
	padding-top: 40px;
	padding-left: 1em;

}

h1 {
	font-family: sans-serif;
}
#cabecera img {
	float: left;
}

#centro {
	float: left;
	text-align: justify;
	width: 35%;
	padding-left: 1em;
	padding-right: 1em;
	border-right: 2px solid black;
	font-weight: bold;
	font-size: 18px;
}

#derecha {
	float: left;
	padding-left: 4em;	
}

#derecha img {
	width: 50%;
	height: 170px;
}

#menu {	
	margin-top: 2em; 
	background-color: #9B8A30;
	padding-left: 3em;
	width: 96%;
	clear: both;
	height: 2em;
}

ul li {
	font-family: sans-serif;
	display: inline;
	padding: 0px 25px 1em 25px;
}
ul a {
	text-decoration: none;
	padding-left:1em;
	padding-right: 1em;
	color: white;
}

li:hover{
	background-color: grey;
}

