@charset "UTF-8";

* {
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
}

a {
	text-decoration: none;
	color: #FFD5BF;
}

a:hover {
	color: #FF5134;
}

body{
	width: 	75%;
	margin: auto;
}

#page{
	position: relative;
	padding-top: 20px;
}

#sidebar a:hover {
	color: #FFF;
	background-color: #E8922B;
	width: 190px;
}

#cabecera{
	background-color: #F05000;
	height: 60px;
}

#cabecera h1{
	float: left;;
}

#cabecera h1 a{
	font-size: 250%;
}

#cabecera p {
	float: left;
	margin-top: 25px;
	font-weight: bold;
}

#cabecera p a{
	margin: 5px;

}

#ads {
	float: right;
	border: 1px dashed orange;
}

#sidebar {
	position: absolute; 
	left: 55%;
	top: 20px;
	width: 200px;
	background-color: #FFFFBF;
	border: 1px dashed orange;
	padding-right: 50px;
	margin-right: 10px;
}

#sidebar a{
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
	padding: 30px;
	color: orange;

}

#content{
	width: 50%;
	line-height: 25px;
	text-align: justify;
}

.title h2 a {
	font-size: 150%;
	font-weight: normal;
}

.post {
	border-bottom: 1px #000 dashed;
	padding-bottom: 15px;
}

#footer {
    clear: both;
    border-top: 3px #F05000 solid;
    color: #F05000;
    padding: 20px 0px; 
    background: linear-gradient(to bottom, #FFFFBF, white);
}